.advantages {
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 700px;
}

.advantages__title-first {
  font-size: 24px;
  line-height: normal;
  font-weight: 100;
  color: #283645;
}

.advantages__title {
  /*background-image: url('../img/bg-triangle-white.svg');
  background-repeat: no-repeat;
  background-position: center 250px;
  background-color: #f2f2f2;
  z-index: 2;  */
  outline: 5px solid blue;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 768px;
  outline: 5px solid grey;
}

.advantages__title-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.advantages__title--first-block {
  background-color: #ffffff;
  margin-bottom: 0;
  /*background-color: pink;*/
  height: 217px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}
