.content-image {
  /*background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  background-position: center -66px;
  background-color: #000000;*/
  position: relative;
  height: 395px;
  outline: 5px solid yellow;
}

@media (min-width: 660px) {
  .content-image {
    display: none;
  }
}

.content-image__mobile {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
