.downloads {
  background-color: #283645;

  /*background-color: red;*/
  height: 270px;
}

.downloads__application {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #283645;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.downloads__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
  color: #ffffff;
}
