/*@blue {color: #283645;}
@red {color: #d22856;}
@green {color: #2aab6d;}*/

.forms__wrapper--first {
  height: 389px;
}

.forms__wrapper--second {
  height: 603px;
}

.forms__wrapper--third {
  height: 287px;
}

.forms__wrapper--forth {
  height: 340px;
}

.forms__wrapper--fifth {
  height: 321px;
}

.forms__small {
  height: 100px;
}

.forms__label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.forms__formline input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.forms__input,
.forms__checkline-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.forms__title,
.forms__wrapper-textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.forms__option {
  list-style: none;
  margin: 0;
  padding: 0;
}

.forms__wrapper-textarea textarea::-webkit-input-placeholder,
.forms__wrapper-textarea textarea {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.forms__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2aab6d;
  border-style: none;
  border-radius: 3px;
}

.forms__legend {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
}

.forms__legend-pink {
  color: #d22856;
}
