/*@blue {color: #283645;}
@red {color: #d22856;}
@green {color: #2aab6d;}*/

.forms__wrapper--first {
  height: 389px;

  outline: 5px solid green;
}

.forms__wrapper--second {
  background-color: #f2f2f2;

  height: 603px;

  outline: 5px solid grey;
}

.forms__wrapper--third {
  height: 287px;

  outline: 5px solid red;
}

.forms__wrapper--forth {
  background-color: #f2f2f2;

  height: 340px;

  outline: 5px solid yellow;
}

.forms__wrapper--fifth {
  height: 321px;

  outline: 5px solid lime;
}

.forms__small {
  height: 100px;

  outline: 5px solid pink;
}

.forms__label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.forms__input::-webkit-input-placeholder {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.forms__input,
.forms__checkline-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.forms__title,
.forms__wrapper-textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.forms__option {
  list-style: none;
  margin: 0;
  padding: 0;
}

.forms__textarea::-webkit-input-placeholder,
.forms__textarea {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.forms__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2aab6d;
  border-style: none;
  border-radius: 3px;
}

.forms__legend {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
}

.forms__legend-pink {
  color: #d22856;
}
