.modal-error {
  height: 265px;
}

.modal-luck {
  height: 280px;
}

.modal__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.modal__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.modal__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2aab6d;
  border-style: none;
  border-radius: 3px;
}
