.page-header {
  background-color: #283645;
  margin: 0;
  padding: 0;

  height: 326px;
  outline: 5px solid red;
}

.page-header__wrapper {
  height: 69px;
  border-bottom: 1px solid #000000;
  outline: 5px solid pink;
}

.page-header__logo {
  height: 70px;
}

.page-header__toggle {
  background: none;
  border: none;
}

.page-header__logo-image {
  max-width: 100%;
  height: auto;
}
