.research {
  display: none;
}

@media (min-width: 660px) {
  .research {
    margin: 0 auto;
    display: block;
    width: 310px;
    padding-left: 330px;
    padding-right: 20px;
    /* Временно для сетки */
    min-height: 400px;
    background-color: pink;
    opacity: 0.8;
  }
}

@media (min-width: 960px) {
  .research {
    width: 540px;
    padding-left: 370px;
    padding-right: 50px;
    /* Временно для сетки */
    min-height: 420px;
  }
}

.research__container {
  display: none;
  margin: 0;
}

@media (min-width: 660px) {
  .research__container {
    /*margin: 0 auto;*/
    display: block;
    width: 310px;
    /* Временно для сетки */
    min-height: 400px;
    background-color: blue;
    opacity: 0.5;
  }
}

@media (min-width: 960px) {
  .research__container {
    width: 540px;
    padding-top: 100px;
    padding-bottom: 100px;
    /* Временно для сетки */
    min-height: 220px;
  }
}

@media (min-width: 660px) {
  .research__title {
    margin: 0;
    /* Временно для сетки */
    background-color: blue;
    opacity: 0.3;
  }
}
