.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item,
.site-list__item--active {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  height: 62px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.site-list__item a {
  text-decoration: none;  /*без подчеркивания*/
  color: #ffffff;
}
