.body-style {
  width: 320px;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  font-family: "OpenSans", "Arial", sans-serif;
}

@media (min-width: 660px) {
  .body-style {
    width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .body-style {
    width: 940px;
    padding: 0 130px;
  }
}
