.body-style {
  width: 320px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: "OpenSans", "Arial", sans-serif;
}
@media (min-width: 660px) {
  .body-style {
    width: 660px;
    /*padding: 0 20px;*/
  }
}
@media (min-width: 960px) {
  .body-style {
    width: 960px;
    /*padding: 0 130px;*/
  }
}

.index-page {
  background: #283645 url("../img/pink-index-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 750px;
}
@media (min-width: 660px) {
  .index-page {
    background: #283645 url("../img/pink-index-tablet.jpg") no-repeat 50% 0;
    background-size: 660px auto;
  }
}
@media (min-width: 960px) {
  .index-page {
    background: #283645 url("../img/pink-index-desktop.jpg") no-repeat 50% 0;
    background-size: 1200px auto;
  }
}
.form-page {
  background: #283645 url("../img/pink-form-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 750px;
}
@media (min-width: 660px) {
  .form-page {
    background: #283645 url("../img/pink-form-tablet.jpg") no-repeat 50% 0;
    background-size: 660px auto;
  }
}
@media (min-width: 960px) {
  .form-page {
    background: #283645 url("../img/pink-form-desktop.jpg") no-repeat 50% 0;
    background-size: 1200px auto;
  }
}
.photo-page {
  background: #283645 url("../img/pink-photo-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 750px;
}
@media (min-width: 660px) {
  .photo-page {
    background: #283645 url("../img/pink-photo-tablet.jpg") no-repeat 50% 0;
    background-size: 660px auto;
  }
}
@media (min-width: 960px) {
  .photo-page {
    background: #283645 url("../img/pink-photo-desktop.jpg") no-repeat 50% 0;
    background-size: 1200px auto;
  }
}
