@import "scaffolding.less";
@import "_page-header.less";
@import "_main-nav.less";
@import "_site-list.less";
@import "_page-main.less";
@import "_visually-hidden.less";
@import "_content-image.less";
@import "_downloads.less";
@import "_advantages.less";
@import "_reviews.less";
@import "_rate.less";
@import "_contacts.less";
@import "_map.less";
@import "_page-footer.less";
@import "_competition.less";
@import "_forms.less";
@import "_social.less";
@import "_copyright.less";
@import "_modal.less";
@import "_photo.less";
@import "_post.less";

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 100;
}
