.competition {
  margin: 0 auto;
  padding: 0;
}

.competition__image {
  /*background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  background-position: -250px -100px;
  background-color: #000000;*/
  min-height: 170px;
  background-color: yellow;
  opacity: 0.3;
  /*outline: 5px solid yellow;*/
}

@media (min-width: 660px) {
  .competition__image {
    width: 660px;
    /* Временно для сетки */
    min-height: 329px;
  }
}

@media (min-width: 960px) {
  .competition__image {
    width: 960px;
    /* Временно для сетки */
    min-height: 394px;
  }
}

.competition__title {
  margin: 0;
  font-size: 24px;
  line-height: normal;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}

.competition__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
  padding-bottom: 25px;
  /*временно для сетки*/
  height: 80px;
  background-color: blue;
  opacity: 0.3;
}

@media (min-width: 660px) {
  .competition__text {
    font-size: 18px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 90px;
    padding-bottom: 20px;
    /* Временно для сетки */
    height: 90px;
  }
}

@media (min-width: 960px) {
  .competition__text {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 90px;
    padding-bottom: 25px;
    /* Временно для сетки */
    height: 85px;
  }
}
