.content-image {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #000000;
  position: relative;
  min-height: 465px;
  /*outline: 5px solid green;*/
  margin-top: -70px;
  z-index: 0;
}

@media (min-width: 660px) {
  .content-image {
    display: none;
  }
}

.content-image__mobile {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
