.post {
  background-color: #ffffff;
}

@media (min-width: 960px) {
  .post {
    padding-bottom: 28px;
  }
}

.post__filter {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

@media (min-width: 660px) {
  .post__filter {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 57px;
    padding-bottom: 54px;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media (min-width: 960px) {
  .post__filter {
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 57px;
    width: 800px;
    margin: 0 auto;
  }
}

.post__effects {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

@media (min-width: 660px) {
  .post__effects {
    width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 960px) {
  .post__effects {
    width: 410px;
    justify-content: space-between;
  }
}

.post__effects-button {
  padding-left: 34px;
  padding-right: 44px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  position: relative;
}

@media (min-width: 660px) {
  .post__effects-button {
    flex-direction: column;
    margin: 0;
    width: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 24px;
  }
}

@media (min-width: 960px) {
  .post__effects-button {
    justify-content: space-between;
    width: 48px;
    padding-bottom: 16px;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.post__button-add {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #d22856;
  text-align: center;
  background-color: #f2f2f2;
  height: 55px;
  width: 280px;
  border: 3px solid #d22856;
  border-radius: 50px;
  margin-bottom: 12px;
  outline: none;
  padding-top: 10px;
  padding-bottom: 13px;
}

.post__button-add:hover {
  color: #ffffff;
  background-color: #d22856;
}

.post__button-add:active {
  color: #e06989;
  background-color: #d22856;
}

.post__button-cancel {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: rgba(40, 54, 69, 0.1);
  text-align: center;
  background-color: #f2f2f2;
  height: 55px;
  width: 280px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50px;
  outline: none;
  padding-top: 10px;
  padding-bottom: 13px;
}

.post__button-cancel:hover {
  color: rgba(40, 54, 69, 0.3);
  border: 3px solid rgba(40, 54, 69, 0.3);
}

.post__button-cancel:active {
  border: 3px solid #b5b9be;
  background-color: #b5b9be;
  color: #cbced2;
  /*color: rgba(1,1,1,0.3);*/
}

@media (min-width: 660px) {
  .post__button-add,
  .post__button-cancel {
    width: 260px;
    padding-right: 10px;
  }

  .post__button-add {
    margin-bottom: 24px;
  }
}

@media (min-width: 960px) {
  .post__button-add,
  .post__button-cancel {
    width: 183px;
    padding-right: 0;
    margin-bottom: 0;
  }
}

.post__effects-crop,
.post__effects-contrast,
.post__effects-fill {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.post__effects-contrast,
.post__effects-fill {
  fill: #283645;
  opacity: 0.3;
}

.post__effects-contrast:hover,
.post__effects-fill:hover {
  opacity: 0.5;
}

.post__effects-contrast:active,
.post__effects-fill:active {
  opacity: 1;
  fill: #d22856;
}

.post__effects-fill {
  position: absolute;
  top: 2px;
  left: 116px;
}

@media (min-width: 660px) {
  .post__effects-fill {
    position: static;
  }

  .post__effects-crop svg,
  .post__effects-fill svg {
    height: 24px;
    width: 24px;
  }

  .post__effects-contrast svg {
    height: 16px;
    width: 16px;
  }

  /*.post__effects-fill,
  .post__effects-contrast {

  }*/
  .post__effects-fill:hover,
  .post__effects-contrast:hover {
    opacity: 1;
  }

  .post__effects-fill,
  .post__effects-contrast {
    fill: #d22856;
    opacity: 1;
  }
}

@media (min-width: 960px) {
  .post__effects-crop svg,
  .post__effects-fill svg {
    height: 48px;
    width: 48px;
  }

  .post__effects-contrast svg {
    height: 32px;
    width: 32px;
  }
}

@media (min-width: 960px) {
  .post__effects-contrast {
    margin-right: 5px;
  }
}

.post__button {
  padding-top: 38px;
  padding-bottom: 41px;
  /*background-color: #f2f2f2;*/
  position: relative;
}

@media (min-width: 660px) {
  .post__button {
    margin-top: 67px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 27px;
    padding-right: 13px;
  }
}

@media (min-width: 960px) {
  .post__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 147px;
    padding: 0;
    width: 100%;
  }
}

.post__scale::before {
  content: "";
  position: absolute;
  top: 36px;
  left: -40px;
  height: 1px;
  width: 320px;
  background-color: #dddfe0;
}

@media (min-width: 660px) {
  .post__scale::before {
    position: absolute;
    top: 36px;
    left: -55px;
    height: 1px;
    width: 275px;
    background-color: #dddfe0;
  }
}

@media (min-width: 960px) {
  .post__scale::before {
    position: absolute;
    top: 36px;
    left: -92px;
    height: 1px;
    width: 410px;
    background-color: #dddfe0;
  }
}

.post__image-block {
  max-height: 374px;
}

@media (min-width: 660px) {
  .post__image-block {
    min-height: 400px;
    width: 300px;
    background-color: #8398be;
  }
}

.post__photo {
  max-width: 100%;
  height: auto;
  background-color: lightblue;
}

/*@media (min-width: 660px) {
  .post_photo {
    height: 400px;
    width: 300px;
  }
}*/

.post__range {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
  padding-bottom: 35px;
}

@media (min-width: 660px) {
  .post__range {
    width: 202px;
    padding-top: 19px;
    padding-bottom: 35px;
    padding-left: 0;
    padding-right: 18px;
  }
}

@media (min-width: 960px) {
  .post__range {
    width: 288px;
    padding-top: 19px;
    padding-bottom: 35px;
    padding-left: 0;
    padding-right: 30px;
  }
}

.post__scale {
  height: 2px;

  background: #283645;
  position: relative;
}

@media (min-width: 660px) {
  .post__scale--fill {
    margin-top: 71px;
    margin-bottom: 68px;
  }
}

.post__toggle {
  width: 10px;
  height: 10px;

  background: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -6px;
  right: 33px;
}

@media (min-width: 660px) {
  .post__toggle--crop {
    top: -6px;
    right: 42px;
  }

  .post__toggle--fill {
    top: -6px;
    right: 163px;
  }

  .post__toggle--contrast {
    top: -6px;
    right: 92px;
  }
}

@media (min-width: 960px) {
  .post__toggle--crop {
    top: -6px;
    right: 203px;
  }

  .post__toggle--fill {
    top: -6px;
    right: 27px;
  }

  .post__toggle--contrast {
    top: -6px;
    right: 114px;
  }
}

/*.post__effects-crop:hover path,
.post__effects-fill:hover path,
.post__effects-contrast:hover path {
  fill: #d22856;
}*/

.post__toggle:active {
  background: #d22856;
}

.post__hidden {
  display: none;
}

@media (min-width: 660px) {
  .post__hidden {
    display: block;
  }
}
