.slider-rate {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider-rate__wrapper {
  overflow: hidden;
}

.slider-rate__list {
  width: 300%;
  /*transition: transform 0.8s ease;*/
  transform: translateX(-258px);
}

@media (min-width: 660px) {
  .slider-rate__list {
    width: 100%;
    transform: translateX(0);
  }
}

.slider-rate__item {
  /*float: left;*/
  /*height: 230px;*/
  /*width: 320px;*/
}

@media (min-width: 660px) {
  .slider-rate__item {
    width: 617px;
  }
}

@media (min-width: 960px) {
  .slider-rate__item {
    padding-left: 0;
    padding-right: 0;
    width: 938px;
  }
}

.slider-rate__radio {
  /*border: 3px solid #ffffff;*/
  width: 6px;
  height: 6px;
  padding: 3px 3px;
  border-radius: 50%;
  border: none;
  /*border: 3px solid #f2f2f2;*/
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  outline: none;
  position: relative;
  background-color: #bec2c7;
  cursor: pointer;
}

.slider-rate__radio:hover {
  background-color: #7e868f;
}

.slider-rate__radio:active {
  background-color: #e9ebec;
}

.slider-rate__radio--active::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 6px;
  height: 6px;
  /*padding: 3px 3px;*/
  background-color: #ffffff;
  border: 3px solid #2d3b49;
  border-radius: 50%;
}

.slider-rate__radio--active,
.slider-rate__radio--active:hover,
.slider-rate__radio--active:active {
  width: 6px;
  height: 6px;
  padding: 3px 3px;
  top: 0;
  background-color: #ffffff;
  border: 3px solid #2d3b49;
  border-radius: 50%;
  cursor: default;
}

.slider-rate__controls {
  text-align: center;
  margin-top: 0;
  margin-bottom: 46px;
  order: 2;
}

@media (min-width: 660px) {
  .slider-rate__controls {
    display: none;
  }
}

.slider-rate__toggle {
  display: none;
}

/*#btn-a:checked ~ .slider-rate__controls label[for="btn-a"],
#btn-b:checked ~ .slider-rate__controls label[for="btn-b"],
#btn-c:checked ~ .slider-rate__controls label[for="btn-c"] {
  background-color: #ffffff;
  border: 3px solid #2d3b49;
  border-radius: 50%;
}

#btn-a:checked ~ .slider-rate__wrapper .slider-rate__list {
  transform: translateX(-1px);
}

#btn-b:checked ~ .slider-rate__wrapper .slider-rate__list {
  transform: translateX(-258px);
}

#btn-c:checked ~ .slider-rate__wrapper .slider-rate__list {
  transform: translateX(-515px);
}*/
